
:root {
    --background-color: rgb(0, 238, 255);
    --light-color: #ffffff;
    --dark-color: #000000;
    --body-color: rgb(0, 55, 255);
  }
  
  body {
    font-family: "Ropa Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: var(--background-color);
    background-image: url(images/pexels-francesco-ungaro-3181208.jpg);
    background-size: cover;
    margin: 1em;
    font-size: 18px;
  }
  
  img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  
  h1 {
    font-size: 2.5em;
    font-weight: 300;
  }
  
  h2 {
    font-size: 2em;
    font-weight: 300;
  }
  
  h2, h3, h4 {
    font-weight: 600;
  }
  
  .container {
    max-width: 1080px;
    margin: 0 auto
  }
  
  /* Masthead */
  masthead {
    font-family: "Ropa Sans", sans-serif;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: .5em 1em;
    background-color: var(--light-color);
    color: var(--dark-color);
    margin-bottom: 1em;
  }
  
  masthead h1 {
    margin-right: auto;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 auto 0 0;
  }
  
  masthead img {
    display: inline-block;
    align-self: center;
    width: auto;
    height: 2.5em;
    margin-right: .5em;
  }
  
  masthead ul {
    padding-inline-start: 0;
  }
  
  masthead li {
    font-size: 1.75em;
    list-style: none;
    display: inline-block;
    padding: 0 20px;
  }
  
  masthead a {
    text-decoration: none;
    color: var(--dark-color);
    transition: all 0.3s ease 0s;
  }

  masthead a:hover {
    color: var(--background-color);
  }

  /* main */
  
  #content {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 11em;
    margin-bottom: 1em;
    color: var(--light-color);
    padding: 3em;
    background-color: none;
  }
  
  .post {
    margin-bottom: 5em;
    .img-container {
      aspect-ratio: 1/1;
    }
    .post-stuff {
      display: flex;
      align-items: flex-start;
    }
    p {
      margin-top: 0;
    }
    img {
      width: 100%;
      height: auto;
      display: block;
      margin-right: 1em;
    }
  }
  
  .big-post {
    margin-top: 2em;
    margin-bottom: 1em;
    .img-container {
      aspect-ratio: 4/3;
    }
    img {
      width: 120%;
      height: auto;
      display: block;
    }
  }
  
  .post:last-child, .big-post:last-child {
    margin-bottom: 0;
  }
  
  navigation {
    font-family: "Ropa Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em 1em;
    background-color: var(--light-color);
    color: var(--dark-color);
    margin-bottom: 1em;
  }
  
  navigation h1 {
    margin-right: auto;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 auto 0 0;
  }
  
  navigation ul {
    padding-inline-start: 0;
  }
  
  navigation li {
    font-size: 1.75em;
    list-style: none;
    display: inline-block;
    padding: 0 20px;
  }
  
  navigation a {
    text-decoration: none;
    color: var(--dark-color);
    transition: all 0.3s ease 0s;
  }

   a:hover {
    color: var(--background-color);
  }

  .div-img{
    justify-content: center;
    align-items: center;
    display:flex;
    padding-top:0%;
  

  img:hover{
    transform:scale(1.05);
  }
}
  
  /* media queries */
  @media only screen and (max-width: 768px) {
    
    body {
      font-size: 16px;
    }
  
    masthead {
      text-align: center;
      flex-flow: column nowrap;
    }
    masthead ul {
      margin-bottom: 0;
    }
    masthead h1 {
      margin-right: 0;
    }
    masthead img {
      margin-right: 0;
    }
  
    #content {
      padding: 1em;
      gap: 1em;
      grid-template-columns: 1fr;
    }
    .main {
      order: 2;
    }
    .sidebar {
      order: 1;
    }
  
  }